*{
  box-sizing: border-box;
  transition: all 0.5s;
  font-size: 15px;
    
}

body {
  margin: 0;
  font-family: 'Bookman Old Style', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-image: url("https://c0.wallpaperflare.com/preview/34/705/139/tasks-plan-target-list.jpg");
  background-size: cover;
  min-height: 100vh;
}

